/* Resetujem osnovne margine */
body {
    margin: 0;
    overflow: hidden;
    background: black;
}

/* Stilizujem pozadine */
.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("pozadinska_slika.jpg"); /* slika */
    background-size: cover;
    background-position: center;
    transform: scale(1.2);  /* Početno stanje (uvećano) */
    opacity: 0;
    animation: bg-appear 2s ease-out forwards;
    z-index: 0;
}

/* Animacija za efekat postepenog prikazivanja pozadine */
@keyframes bg-appear {
    0% {
        transform: scale(1.2);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/* Logo fade-in efekat */
.logo {
    opacity: 0; /* Početno nevidljiv */
    animation: logo-fade 3s ease-out forwards 0s; /* Sa odlaganjem 0 sekundi */
}

@keyframes logo-fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Donji-dio fade-in efekat */
.donji-dio {
    opacity: 0; /* Početno nevidljiv */
    animation: donji-dio-fade 3s ease-out forwards 0s; /* Sa odlaganjem 0 sekundi */
    z-index: 1;
}

/* Nova animacija za donji-dio */
@keyframes donji-dio-fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
