/* Reseting main margins */
body {
    margin: 0;
    overflow: hidden;
    background: rgb(255, 255, 255);
   
}

/*Header*/
.Header {
    position: relative;
    width: 100%;
    height: 60px;
    background: #adadade0;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    line-height: 60px;
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 10px;
}

/* Logo */
.Logo {
    top: 5px;
    left: 10px;
    height: 40px;
    width: 40px; /* Adjusted for mobile */
    
}

/* Media query for tablets and larger screens */
@media (min-width: 768px) {
    .Logo {
        height: 30px; /* Adjusted for tablets */
        width: 30px;
    }
}

@media (min-width: 1024px) {
    .Logo {
        height: 20px; /* Adjusted for desktops */
        width: 20px;
        top: 20px; /* Adjusted for desktops */
    }
}
